server:
  port: 80
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cskaoyanmall?useSSL=false&useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456

  mvc:
    static-path-pattern: /image/**
  resources:
    static-locations: file:E://uploadTest/

  #限制上传文件大小
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

mybatis:
  type-handlers-package: com.cskaoyan.sb.springboot_project.handler
