<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.BrandMapper">
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Brand">
    update cskaoyan_mall_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="floorPrice != null">
        floor_price = #{floorPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Brand">
    update cskaoyan_mall_brand
    set name = #{name,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      floor_price = #{floorPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateBrandById" useGeneratedKeys="true" keyProperty="id">
    update cskaoyan_mall_brand
    set
      `name` = #{name},
      `desc` = #{desc},
      pic_url = #{picUrl},
      floor_price = #{floorPrice},
      add_time = #{addTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>

  <resultMap id="brandBaseMap" type="com.cskaoyan.sb.springboot_project.bean.Brand">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="desc" column="desc"/>
    <result property="picUrl" column="pic_url"/>
    <result property="sortOrder" column="sort_order"/>
    <result property="floorPrice" column="floor_price"/>
    <result property="addTime" column="add_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="deleted" column="deleted"/>
  </resultMap>

  <select id="selectBrandList" resultMap="brandBaseMap">
    select id,`name`,`desc`,pic_url,sort_order,floor_price,add_time,update_time,deleted
    from cskaoyan_mall_brand
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="name != null">
        and name like CONCAT("%",#{name},"%")
      </if>
    </where>
    order by #{sort} ${order}
  </select>

  <resultMap id="brandListMap" type="com.cskaoyan.sb.springboot_project.bean.Brand">
    <id column="id" property="value"/>
    <result column="name" property="label"/>
  </resultMap>

  <select id="brandList" resultMap="brandListMap">
    select id,`name`
    from cskaoyan_mall_brand
  </select>

  <insert id="insertBrand" useGeneratedKeys="true" keyProperty="id">
    insert into
    cskaoyan_mall_brand
    (`name`,`desc`,
    <if test="picUrl != null">
      pic_url,
    </if>
    floor_price,add_time,update_time,deleted)
    values
    (#{name},#{desc},
    <if test="picUrl != null">
      #{picUrl},
    </if>
    #{floorPrice},#{addTime},#{updateTime},#{deleted})
  </insert>
</mapper>