<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.CategoryMapper">
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Category">
    update cskaoyan_mall_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Category">
    update cskaoyan_mall_category
    set name = #{name,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      sort_order = #{sortOrder,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="categoryLevel1Map" type="com.cskaoyan.sb.springboot_project.bean.Category">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="keywords" column="keywords"/>
    <result property="desc" column="desc"/>
    <result property="iconUrl" column="icon_url"/>
    <result property="picUrl" column="pic_url"/>
    <result property="level" column="level"/>
    <collection property="children" column="id" select="com.cskaoyan.sb.springboot_project.mapper.CategoryMapper.selectCategoryLevel2List"/>
  </resultMap>

  <resultMap id="categoryLevel2Map" type="com.cskaoyan.sb.springboot_project.bean.Category">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="keywords" column="keywords"/>
    <result property="desc" column="desc"/>
    <result property="iconUrl" column="icon_url"/>
    <result property="picUrl" column="pic_url"/>
    <result property="level" column="level"/>
  </resultMap>

  <select id="selectCategoryList" resultMap="categoryLevel1Map">
    select id,`name`,keywords,`desc`,icon_url,pic_url,`level`
    from cskaoyan_mall_category
  </select>

  <select id="selectCategoryLevel2List" resultMap="categoryLevel2Map">
    select id,`name`,keywords,`desc`,icon_url,pic_url,`level`
    from cskaoyan_mall_category
    where pid = #{id}
  </select>

  <resultMap id="Level1EntryMap" type="com.cskaoyan.sb.springboot_project.bean.Category">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
  </resultMap>

  <select id="selectLevel1List" resultMap="Level1EntryMap">
    select id,`name` from cskaoyan_mall_category where `level` = 'L1';
  </select>

  <resultMap id="CategoryList" type="com.cskaoyan.sb.springboot_project.bean.CategoryList">
    <id property="value" column="id"/>
    <result property="label" column="name"/>
    <collection property="children" column="id" select="com.cskaoyan.sb.springboot_project.mapper.CategoryMapper.CategoryListlevel2"/>
  </resultMap>

  <select id="CategoryListlevel1" resultMap="CategoryList">
    select id,`name` from cskaoyan_mall_category where `level` = 'L1';
  </select>

  <resultMap id="CategoryList2" type="com.cskaoyan.sb.springboot_project.bean.CategoryList_children">
    <id property="value" column="id"/>
    <result property="label" column="name"/>
  </resultMap>

  <select id="CategoryListlevel2" resultMap="CategoryList2">
    select id,`name` from cskaoyan_mall_category where pid = #{id}
  </select>

</mapper>