<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.Goods_specificationMapper">
  
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods_specification">
    update cskaoyan_mall_goods_specification
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods_specification">
    update cskaoyan_mall_goods_specification
    set goods_id = #{goodsId,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.cskaoyan.sb.springboot_project.bean.Goods_specification">
    <id column="id" property="id" />
    <result column="goods_id" property="goodsId" />
    <result column="specification" property="specification" />
    <result column="value" property="value" />
    <result column="pic_url" property="picUrl" />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <select id="queryByGoodsId" resultMap="BaseResultMap">
    select id,goods_id,specification,value,pic_url,add_time,update_time,deleted
    from cskaoyan_mall_goods_specification
    where goods_id = #{id}
  </select>

  <insert id="insertSpecification">
    insert into cskaoyan_mall_goods_specification
    (goods_id,specification,value,pic_url)
    values
    <foreach collection="specifications" item="item" separator=",">
      (#{item.goodsId},#{item.specification},#{item.value},#{item.picUrl})
    </foreach>
  </insert>

</mapper>