<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.GoodsMapper">

  <select id="query_goods_statistics" resultType="com.cskaoyan.sb.springboot_project.bean.Goods_statistics">
    select
    add_time as `day`,
    count(order_id) as orders,
    sum(`number`) as products,
    sum(`number` * price) as amount
    from cskaoyan_mall_order_goods
    group by add_time
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods">
    update cskaoyan_mall_goods
    <set>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="gallery != null">
        gallery = #{gallery,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="isOnSale != null">
        is_on_sale = #{isOnSale,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=SMALLINT},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="shareUrl != null">
        share_url = #{shareUrl,jdbcType=VARCHAR},
      </if>
      <if test="isNew != null">
        is_new = #{isNew,jdbcType=BIT},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=BIT},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="counterPrice != null">
        counter_price = #{counterPrice,jdbcType=DECIMAL},
      </if>
      <if test="retailPrice != null">
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods">
    update cskaoyan_mall_goods
    set goods_sn = #{goodsSn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      gallery = #{gallery,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      is_on_sale = #{isOnSale,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=SMALLINT},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      share_url = #{shareUrl,jdbcType=VARCHAR},
      is_new = #{isNew,jdbcType=BIT},
      is_hot = #{isHot,jdbcType=BIT},
      unit = #{unit,jdbcType=VARCHAR},
      counter_price = #{counterPrice,jdbcType=DECIMAL},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey">
    update cskaoyan_mall_goods
    <set>
      goods_sn = #{good.goodsSn},
      `name` = #{good.name},
      category_id = #{good.categoryId},
      brand_id = #{good.brandId},
      <if test="good.gallery != null">
      gallery = #{good.gallery,typeHandler=com.cskaoyan.sb.springboot_project.handler.String2StringArrayHandler},
      </if>
      <if test="good.gallery == null">
      gallery = "",
      </if>
      keywords = #{good.keywords},
      brief = #{good.brief},
      is_on_sale = #{good.isOnSale},
      sort_order = #{good.sortOrder},
      pic_url = #{good.picUrl},
      share_url = #{good.shareUrl},
      is_new = #{good.isNew},
      is_hot = #{good.isHot},
      unit = #{good.unit},
      counter_price = #{good.counterPrice},
      retail_price = #{good.retailPrice},
      detail = #{good.detail}
    </set>
    where id = #{good.id}
  </update>

  <resultMap id="BaseResultMap" type="com.cskaoyan.sb.springboot_project.bean.Goods">
    <id column="id" property="id" />
    <result column="goods_sn" property="goodsSn" />
    <result column="name" property="name" />
    <result column="category_id" property="categoryId" />
    <result column="brand_id" property="brandId" />
    <result column="gallery" property="gallery" typeHandler="com.cskaoyan.sb.springboot_project.handler.String2StringArrayHandler" />
    <result column="keywords" property="keywords" />
    <result column="brief" property="brief" />
    <result column="is_on_sale" property="isOnSale" />
    <result column="sort_order" property="sortOrder" />
    <result column="pic_url" property="picUrl" />
    <result column="share_url" property="shareUrl" />
    <result column="is_new" property="isNew" />
    <result column="is_hot" property="isHot" />
    <result column="unit" property="unit" />
    <result column="counter_price" property="counterPrice" />
    <result column="retail_price" property="retailPrice" />
    <result column="detail" property="detail" />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <select id="searchGoodslist" resultMap="BaseResultMap">
    select id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    where deleted = 0 and `name` like concat('%',#{keyword},'%')
  </select>


  <select id="newGoodsList" resultMap="BaseResultMap">
    select id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    where is_new = 1 and deleted =0
  </select>

  <select id="hotGoodsList" resultMap="BaseResultMap">
    select id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    where is_hot = 1 and deleted = 0
  </select>

  <select id="grouponList" resultMap="BaseResultMap">
    select id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    where id = #{goodsId} and deleted = 0
  </select>

  <select id="queryGoodsForfloorGoodsList" resultMap="BaseResultMap">
    select id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    where category_id = #{categoryId} and deleted = 0
  </select>

  <select id="queryAllGoodsList" resultMap="BaseResultMap">
    select id,
    goods_sn,
    name,
    category_id,
    brand_id,
    gallery,
    keywords,
    brief,
    is_on_sale,
    sort_order,
    pic_url,
    share_url,
    is_new,
    is_hot,
    unit,
    counter_price,
    retail_price,
    detail,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_goods
    <where>
      deleted = 0
      <if test="goodsSn != null">
        and goods_sn like concat('%',#{goodsSn},'%')
      </if>
      <if test="name != null ">
        and name like concat('%',#{name},'%')
      </if>
    </where>
  </select>

  <update id="updateDeleteById">
    update cskaoyan_mall_goods set deleted = 1 where id = #{id}
  </update>

  <select id="queryById" resultMap="BaseResultMap">
    select id,
    goods_sn,
    name,
    category_id,
    brand_id,
    gallery,
    keywords,
    brief,
    is_on_sale,
    sort_order,
    pic_url,
    share_url,
    is_new,
    is_hot,
    unit,
    counter_price,
    retail_price,
    detail,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_goods
    where id = #{id}
   </select>

  <select id="count" resultType="java.lang.Integer">
    select count(id) from cskaoyan_mall_goods where deleted = 0
  </select>

  <select id="searchGoodsCount" resultType="java.lang.Integer">
    select count(id) from cskaoyan_mall_goods
    where deleted = 0 and `name` like concat('%',#{keyword},'%')
  </select>

  <select id="queryByIdReturnInt" resultType="java.lang.Integer">
    select count(id) from cskaoyan_mall_goods where id = #{id}
  </select>

  <select id="queryCategoryIds" resultType="java.lang.Integer">
    select category_id from cskaoyan_mall_goods where id = #{id}
  </select>

  <select id="selectGoodByGoodsId" resultMap="BaseResultMap">
    select id,
    goods_sn,
    `name`,
    category_id,
    brand_id,
    gallery,
    keywords,
    brief,
    is_on_sale,
    sort_order,
    pic_url,
    share_url,
    is_new,
    is_hot,
    unit,
    counter_price,
    retail_price,
    detail,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_goods
    where id = #{goodsId}
  </select>

  <select id="selectRelatedGoods" resultMap="BaseResultMap">
    select id,
    goods_sn,
    `name`,
    category_id,
    brand_id,
    gallery,
    keywords,
    brief,
    is_on_sale,
    sort_order,
    pic_url,
    share_url,
    is_new,
    is_hot,
    unit,
    counter_price,
    retail_price,
    detail,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_goods
    where id like CONCAT(#{goodsId},"%") and deleted = 0 limit 0,6
  </select>

  <!--<insert id="insertGoods">-->
     <!--insert into cskaoyan_mall_goods (id, goods_sn, `name`,-->
      <!--category_id, brand_id, gallery,-->
      <!--keywords, brief, is_on_sale,-->
      <!--sort_order, pic_url, share_url,-->
      <!--is_new, is_hot, unit, counter_price,-->
      <!--retail_price ,detail)-->
    <!--values (#{good.goodsSn}, #{good.goodsSn}, #{good.name},-->
      <!--#{good.categoryId}, #{good.brandId},-->
      <!--#{good.gallery,typeHandler=com.cskaoyan.sb.springboot_project.handler.String2StringArrayHandler},-->
      <!--#{good.keywords}, #{good.brief}, #{good.isOnSale},-->
      <!--#{good.sortOrder}, #{good.picUrl}, #{good.shareUrl},-->
      <!--#{good.isNew}, #{good.isHot}, #{good.unit}, #{good.counterPrice},-->
      <!--#{good.retailPrice}, #{good.detail})-->
  <!--</insert>-->

  <insert id="insertGoods">
     insert into cskaoyan_mall_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id, goods_sn,`name`,
      <if test="good.categoryId != null">
        category_id,
      </if>
      <if test="good.brandId != null">
        brand_id,
      </if>
      <if test="good.gallery != null">
        gallery,
      </if>
      <if test="good.keywords != null">
        keywords,
      </if>
      <if test="good.brief != null">
        brief,
      </if>
      <if test="good.isOnSale != null">
        is_on_sale,
      </if>
      <if test="good.sortOrder != null">
        sort_order,
      </if>
      <if test="good.picUrl != null">
        pic_url,
      </if>
      <if test="good.shareUrl != null">
        share_url,
      </if>
      <if test="good.isNew != null">
        is_new,
      </if>
      <if test="good.isHot != null">
        is_hot,
      </if>
      <if test="good.unit != null">
        unit,
      </if>
      <if test="good.counterPrice != null">
        counter_price,
      </if>
      <if test="good.retailPrice != null">
        retail_price,
      </if>
      <if test="good.detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{good.goodsSn},#{good.goodsSn},#{good.name},
      <if test="good.categoryId != null">
        #{good.categoryId},
      </if>
      <if test="good.brandId != null">
        #{good.brandId},
      </if>
      <if test="good.gallery != null">
        #{good.gallery,typeHandler=com.cskaoyan.sb.springboot_project.handler.String2StringArrayHandler},
      </if>
      <if test="good.keywords != null">
        #{good.keywords},
      </if>
      <if test="good.brief != null">
        #{good.brief},
      </if>
      <if test="good.isOnSale != null">
        #{good.isOnSale},
      </if>
      <if test="good.sortOrder != null">
        #{good.sortOrder},
      </if>
      <if test="good.picUrl != null">
        #{good.picUrl},
      </if>
      <if test="good.shareUrl != null">
        #{good.shareUrl},
      </if>
      <if test="good.isNew != null">
        #{good.isNew},
      </if>
      <if test="good.isHot != null">
        #{good.isHot},
      </if>
      <if test="good.unit != null">
        #{good.unit},
      </if>
      <if test="good.counterPrice != null">
        #{good.counterPrice},
      </if>
      <if test="good.retailPrice != null">
        #{good.retailPrice},
      </if>
      <if test="good.detail != null">
        #{good.detail},
      </if>
    </trim>
  </insert>

  <select id="queryGoodsById" resultMap="BaseResultMap">
    SELECT id,goods_sn,name,category_id,brand_id,
    gallery,keywords,brief,is_on_sale,sort_order,
    pic_url,share_url,is_new,is_hot,unit,counter_price,
    retail_price,detail,add_time,update_time,deleted
    from cskaoyan_mall_goods
    WHERE category_id = #{categoryId} and deleted = 0
  </select>

</mapper>