<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.Goods_productMapper">

  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods_product">
    update cskaoyan_mall_goods_product
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="specifications != null">
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Goods_product">
    update cskaoyan_mall_goods_product
    set goods_id = #{goodsId,jdbcType=INTEGER},
      specifications = #{specifications,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="BaseResultMap" type="com.cskaoyan.sb.springboot_project.bean.Goods_product">
    <id column="id" property="id" />
    <result column="goods_id" property="goodsId" />
    <result column="specifications" property="specifications" />
    <result column="price" property="price" />
    <result column="number" property="number" />
    <result column="url" property="url" />
    <result column="add_time" property="addTime" />
    <result column="update_time" property="updateTime" />
    <result column="deleted" property="deleted" />
  </resultMap>

  <select id="queryByGoodsId" resultMap="BaseResultMap">
    select id,goods_id,specifications,price,number,url,add_time,update_time,deleted
    from cskaoyan_mall_goods_product
    where goods_id = #{id}
  </select>

</mapper>