<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.KeywordMapper">
  <resultMap id="keywordBaseMap" type="com.cskaoyan.sb.springboot_project.bean.Keyword">
    <id property="id" column="id"/>
    <result property="keyword" column="keyword"/>
    <result property="url" column="url"/>
    <result property="isHot" column="is_hot"/>
    <result property="isDefault" column="is_default"/>
    <result property="sortOrder" column="sort_order"/>
    <result property="addTime" column="add_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="deleted" column="deleted"/>
  </resultMap>

  <select id="selectKeywordList" resultMap="keywordBaseMap">
    select
    id,
    keyword,
    url,
    is_hot,
    is_default,
    sort_order,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_keyword
    <where>
      <if test="keyword != null">
        and keyword like CONCAT("%",#{keyword},"%")
      </if>
      <if test="url != null">
        and url like CONCAT("%",#{url},"%")
      </if>
    </where>
    order by #{sort} ${order}
  </select>

  <select id="selectKeywordById" resultMap="keywordBaseMap">
    select
    id,
    keyword,
    url,
    is_hot,
    is_default,
    sort_order,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_keyword
    where id = #{id}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Keyword">
    update cskaoyan_mall_keyword
    <set>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=BIT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Keyword">
    update cskaoyan_mall_keyword
    set keyword = #{keyword,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      is_hot = #{isHot,jdbcType=BIT},
      is_default = #{isDefault,jdbcType=BIT},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertKeyword" useGeneratedKeys="true" keyProperty="id">
    insert into cskaoyan_mall_keyword
    (keyword,url,is_hot,is_default,sort_order,add_time,update_time,deleted)
    values
    (#{keyword},#{url},#{isHot},#{isDefault},#{sortOrder},#{addTime},#{updateTime},#{deleted})
  </insert>

  <select id="defaultKeyword" resultMap="keywordBaseMap">
    select id,keyword,url,is_hot,is_default,sort_order,add_time,update_time
    from cskaoyan_mall_keyword where is_default = 1 and deleted = 0
  </select>

  <select id="hotKeywordList" resultMap="keywordBaseMap">
    select id,keyword,url,is_hot,is_default,sort_order,add_time,update_time
    from cskaoyan_mall_keyword where is_hot = 1 and deleted = 0
  </select>

</mapper>