<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.LogMapper">
  <resultMap id="baseResultMap" type="com.cskaoyan.sb.springboot_project.bean.Log">
  <id column="id" property="id"/>
    <result column="id" property="id"/>
    <result column="admin" property="admin"/>
    <result column="ip" property="ip"/>
    <result column="type" property="type"/>
    <result column="action" property="action"/>
    <result column="status" property="status"/>
    <result column="result" property="result"/>
    <result column="comment" property="comment"/>
    <result column="add_time" property="addTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
  </resultMap>
  <select id="selectLogList" resultMap="baseResultMap">
    select
    id,
    admin,
    ip,
    `type`,
    `action`,
    status,
    result,
    comment,
    add_time,
    update_time,
    deleted
    from cskaoyan_mall_log
    <where>
      <if test="admin != null">
        admin like CONCAT("%",#{admin},"%")
      </if>
    </where>
    order by #{sort} ${order}
  </select>

  <insert id="insertLog">
    insert into cskaoyan_mall_log
    set
    admin = #{admin},
    ip = #{ip},
    `type` = #{type},
    `action` = #{action},
    status = #{status},
    result = #{result},
    comment = #{comment},
    add_time = #{addTime},
    update_time = #{updateTime},
    deleted = #{deleted}
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.sb.springboot_project.bean.Log">
    update cskaoyan_mall_log
    <set>
      <if test="admin != null">
        admin = #{admin,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.sb.springboot_project.bean.Log">
    update cskaoyan_mall_log
    set admin = #{admin,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      action = #{action,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      result = #{result,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>