<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.RoleMapper">
    <select id="queryAllRoleList" resultType="com.cskaoyan.sb.springboot_project.bean.Role">
        select
        `name`,
        `desc`
        from cskaoyan_mall_role
        order by #{sort}
        #{order}
    </select>

    <select id="queryRoleList" resultType="com.cskaoyan.sb.springboot_project.bean.Role">
                select
        `name`,
        `desc`
        from cskaoyan_mall_role
        <where>
            <if test="name != null">
                `name` like concat('%',#{name},'%')
            </if>
        </where>
        order by #{sort}
        #{order}
    </select>

    <update id="update_role">
        update cskaoyan_mall_role
        set
        `name` = #{role.name},
        `desc` = #{role.desc}
        where `name` = #{role.name}
    </update>

    <insert id="create_role">
        insert into cskaoyan_mall_role
        (`name`,`desc`)
        values (#{role.name},#{role.desc})
    </insert>

    <delete id="delete_role">
        delete from cskaoyan_mall_role
        where `name` = #{role.name}
    </delete>
</mapper>