<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.sb.springboot_project.mapper.StorageMapper">
    <insert id="InsertUploadFileInfo" useGeneratedKeys="true" keyProperty="id">
    insert into cskaoyan_mall_storage
    (`key`,`name`,`type`,`size`,url,add_time,update_time,deleted)
    values
    (#{key},#{name},#{type},#{size},#{url},#{addTime},#{updateTime},#{deleted})
    </insert>

    <update id="update_storage">
        update cskaoyan_mall_storage
        set `name` = #{storage.name}
        where id = #{storage.id}
    </update>

  <select id="queryAllStorageList" resultType="com.cskaoyan.sb.springboot_project.bean.Storage">
    select
        id,
        `key`,
        `name`,
        `type`,
        `size`,
        url,
        add_time as addTime,
        update_time as updateTime,
        deleted
        from cskaoyan_mall_storage
  </select>

  <select id="queryStorageList" resultType="com.cskaoyan.sb.springboot_project.bean.Storage">
        select
        id,
        `key`,
        `name`,
        `type`,
        `size`,
         url,
        add_time as addTime,
        update_time as updateTime,
        deleted
        from cskaoyan_mall_storage
    <where>
      <if test="name != null">
        `name` like concat('%',#{name},'%')
      </if>
      <if test="key != null">
        and `key` LIKE concat('%',#{key},'%')
      </if>
    </where>
  </select>

    <delete id="delete_storage">
        delete from cskaoyan_mall_storage
        where id = #{storage.id}
    </delete>
</mapper>